/* In your CSS */
:root {
  --color-primary: #ffffff;
  --color-secondary: #556bcf;
  /* ... */
}

@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Fira+Mono|Inter&display=swap");
@import "prism.css";
@import "../fonts/fonts.css";
@import "markdown.css";

html {
  scroll-behavior: smooth;
}

body {
  @apply leading-normal;
}

article > header > h3 {
  @apply text-blue-600 font-medium;
}

/* article > h1 > a.anchor.before,
article > h2 > a.anchor.before,
article > h3 > a.anchor.before,
article > h4 > a.anchor.before,
article > h5 > a.anchor.before {
  @apply opacity-100 inline-block mr-1;
} */

/* article > h1:hover,
article > h2:hover,
article > h3:hover,
article > h4:hover,
article > h5:hover {
  @apply opacity-100;
} */
